<div class="content-card centered-card">
<!--<section class="hero fade-in">-->
    <div class="hero-inner">
      <img class="hero-avatar" src="/assets/profile1.jpg" alt="Your photo">

      <div class="hero-text">
        <h1 class="hero-name">Yeshwant Pandit</h1>
        <p class="hero-role">PhD Student · Tata Institute of Fundamental Research, Mumbai</p>

        <p class="hero-links">
          <!-- Google Scholar -->
          <a class="logo-link" href="https://scholar.google.com/citations?hl=en&user=Ck9bckEAAAAJ">
            <img src="/assets/logos/google-scholar.png" alt="Google Scholar Logo">
          </a>

          <!-- GitHub 
          <a class="logo-link" href="https://github.com/ypandit08">
            <img src="/assets/logos/github.png" alt="GitHub Logo">
          </a>-->

          <!-- LinkedIn -->
          <a class="logo-link" href="https://www.linkedin.com/in/yeshwant-pandit-5a339544/">
            <img src="/assets/logos/linkedin.png" alt="LinkedIn Logo">
          </a>

          <!-- ORCID -->
          <a class="logo-link" href="https://orcid.org/0009-0002-7800-2906">
            <img src="/assets/logos/orcid.png" alt="ORCID Logo">
          </a>
		  
		  <!-- CV Download -->
          <a class="logo-link" href="/assets/cv.pdf" download aria-label="Download CV">
            <img src="/assets/logos/cv.png" alt="CV Icon">
          </a>
        </p>
      
      </div>
    </div>
  <!--</section>-->
</div>

<div class="content-card centered-card">
<section class="about fade-in">
    Hi! I am a fifth-year PhD student in the School of Technology and Computer Science at TIFR, Mumbai. 
    I am fortunate to be advised by 
    <a href="https://www.tcs.tifr.res.in/~umang/">Prof. Umang Bhaskar</a>.
    Prior to joining TIFR, I worked at Intel Corporation, Bangalore.
    My research interests lie in theoretical computer science, 
    particularly in algorithms, graph theory, algorithmic game theory, 
    and topics with a combinatorial flavor. 
    My current research focuses on establishing the existence of nearly fair allocations of indivisible resources among agents, and on developing efficient algorithms for computing such allocations when they exist.
  </section>
</div>
